/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.canvas3D {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  pointer-events: none;
  background-color: transparent;
  overflow: hidden;
  border: 1px solid pink;
}
.content {
  width: 100%;
  height: auto;
  z-index: 1;
}
.section {
  width: 100%;
  height: 100vh;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas3DImg {
  position: absolute;
  width: 100vw;
  height: 100%;
  overflow: visible;
  z-index: 4;
  pointer-events: none;
}
